<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/HP/IdeaProjects/OpenMrsMe/src/US_406">
    <classes><class name="US_406.FindPatientTest">
        <methods><include name="findPatient"/>
            <include name="searchPatientID"/>
            <include name="searchNonExistentPatient"/>
        </methods></class></classes></test></suite>